@font-face {
  font-family: "iconfont";
  /* Project id 5201413 */
  src: url('//at.alicdn.com/t/c/font_5201413_kie24btyp3q.woff2?t=1782721436851') format('woff2'),
    url('//at.alicdn.com/t/c/font_5201413_kie24btyp3q.woff?t=1782721436851') format('woff'),
    url('//at.alicdn.com/t/c/font_5201413_kie24btyp3q.ttf?t=1782721436851') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-partner:before {
  content: "\e69b";
}

.icon-follow:before {
  content: "\e69c";
}

.icon-follow-fill:before {
  content: "\e69d";
}

.icon-checklists:before {
  content: "\e69a";
}

.icon-notepad:before {
  content: "\e697";
}

.icon-rates:before {
  content: "\e698";
}

.icon-memos:before {
  content: "\e699";
}

.icon-next:before {
  content: "\e695";
}