@font-face {
  font-family: "iconfont"; /* Project id 5180844 */
  src: url('//at.alicdn.com/t/c/font_5180844_c28fvs7bcor.woff2?t=1781617696453') format('woff2'),
       url('//at.alicdn.com/t/c/font_5180844_c28fvs7bcor.woff?t=1781617696453') format('woff'),
       url('//at.alicdn.com/t/c/font_5180844_c28fvs7bcor.ttf?t=1781617696453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coupon1:before {
  content: "\e69a";
}

.icon-setting:before {
  content: "\e699";
}

.icon-printing:before {
  content: "\e697";
}

.icon-shipped:before {
  content: "\e695";
}

.icon-unpaid:before {
  content: "\e696";
}

.icon-completed:before {
  content: "\e698";
}

.icon-none:before {
  content: "\e694";
}

.icon-share:before {
  content: "\e693";
}

.icon-haoyouleibiao:before {
  content: "\e692";
}

.icon-banzhuzhongxin:before {
  content: "\e68e";
}

.icon-lianxikefu:before {
  content: "\e68f";
}

.icon-shoyiguanli:before {
  content: "\e690";
}

.icon-shangwuhezuo:before {
  content: "\e691";
}

.icon-address:before {
  content: "\e68d";
}

.icon-logistics:before {
  content: "\e68c";
}

.icon-remark:before {
  content: "\e68b";
}

.icon-shou:before {
  content: "\e68a";
}

.icon-radio-selected:before {
  content: "\e688";
}

.icon-radio:before {
  content: "\e689";
}

.icon-hint:before {
  content: "\e687";
}

.icon-photo:before {
  content: "\e682";
}

.icon-camera:before {
  content: "\e684";
}

.icon-camera-fill:before {
  content: "\e686";
}

.icon-favorites-fill:before {
  content: "\e683";
}

.icon-favorites:before {
  content: "\e685";
}

.icon-doubt:before {
  content: "\e67f";
}

.icon-coupon:before {
  content: "\e680";
}

.icon-location:before {
  content: "\e681";
}

.icon-shoye:before {
  content: "\e67c";
}

.icon-delete:before {
  content: "\e67b";
}

.icon-next:before {
  content: "\e67a";
}

.icon-copy:before {
  content: "\e678";
}

.icon-edit:before {
  content: "\e679";
}

.icon-create-order:before {
  content: "\e677";
}

.icon-upload:before {
  content: "\e675";
}

.icon-order:before {
  content: "\e676";
}
